@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

body {
	background-image: url(../images/cloud.jpg);
	background-color: #223C57;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: 'Poppins',Times New Roman, Times, serif;
}

/*navbar*/
nav {
	background: black;
	height: 135px;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}
nav > a {
	margin-right: 8px;
	color: white;
	font-size: 16px;
}
h1 {
	font-family: 'Rancho', cursive;
	color: white;
	font-weight: bold;
	font-size: 50px;
	margin-left: 125px;
	position: relative;
	top: 20px;
}

/*details form*/
#containerdetails {
	margin: 10px;
}
#details {
	text-align: center;
	border: 2px solid black;
	border-radius: 15px;
	box-shadow: 0 2px 5px black;
	margin: 10px;
	color: white;
	background: linear-gradient(to right, #223C57, #56A6D5);
}

/*navbar links*/
nav > a:link, a:visited {
	text-decoration: none;
	position: relative;
	float: right;
}
nav > a:hover, a:active {
	color: orange;
}

/*survey list links*/
li > a:link, li > a:visited {
	text-decoration: none;
	padding: 6px 15px;
    color: #094b65;
    text-decoration: none;
    border-radius: 20px;
	font-size: 30px;
}
li > a:hover, li > a:active {
	background: #094b65;
    color: #fff;
}

input, select {
	border-radius: 5px;
	background-color: beige;
}

/*topic1 header*/
#t1head {
	border: 2px solid pink;
	background-image: linear-gradient(to right, black , #1b4b89);
	width: 650px;
	height: 100px;
	margin-left: 430px;
	margin-top: 40px;
	padding-top: 15px;
	border-radius: 15px;
	box-shadow: 5px 5px 0 0 black;
}
#t1head > h1 {
	position: relative;
	top: -1px;
	padding-top: 5px;
	margin-left: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*topic1 survey form*/
#t1form {
	font-family: 'Times New Roman';
	border-radius: 25px;
	box-shadow: 0 2px 5px 0 black;
	margin: 20px;
	font-size: 20px;
	padding-left: 5%;
	padding-bottom: 30px;
	background: linear-gradient(#223C57, #56A6D5);

}
#t1box {
	box-shadow: 0 2px 5px 0 deeppink;
	border-radius: 5px;
	width: 1000px;
	padding-left: 8px;
	background-image: url('https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=358&q=80');
}
/*topic1 images*/
.icons {
	position: relative;
	float: right;
	clear: both;
	margin-right: 20px;
	margin-bottom: 200px;
}

/*topic2 survey form*/
#t2head {
	border: 2px solid pink;
	background-image: linear-gradient(to right, black , #1b4b89);
	width: 640px;
	height: 150px;
	margin-left: 430px;
	margin-top: 40px;
	padding-top: 15px;
	border-radius: 15px;
	box-shadow: 5px 5px 0 0 black;
}
#t2head > h1 {
	position: relative;
	top: -1px;
	padding-top: 2px;
	margin-left: 70px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#t2form
{
	font-family: 'Times New Roman';
	border: 2px solid black;
	border-radius: 25px;
	box-shadow: 0 2px 5px black;
	margin: 20px;
	color:black;
	font-size: 20px;
	padding-left: 5%;
	padding-bottom: 30px;
	background: linear-gradient(to right, #223C57, #56A6D5);
}

/*topic3 survey form*/
#t3head {
	border: 2px solid pink;
	background-image: linear-gradient(to right, black , #1b4b89);
	width: 780px;
	height: 120px;
	margin-left: 365px;
	margin-top: 40px;
	padding-top: 15px;
	border-radius: 15px;
	box-shadow: 5px 5px 0 0 black;
}
#t3head > h1 {
	position: relative;
	top: 9px;
	left: 20px;
	padding-left: 5%;
	margin-left: 67px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#t3form {
	font-family: 'Times New Roman';
	border: 2px solid black;
	border-radius: 25px;
	box-shadow: 0 2px 5px black;
	margin: 20px;
	color:black;
	font-size: 20px;
	padding-left: 5%;
	padding-bottom: 30px;
	background: linear-gradient(to right, #223C57, #56A6D5);
}

footer {
    position: sticky;
    float: right;
    bottom: 15px;
    right: 15px;
    z-index: 100;
}
footer > button {
    padding: 4px 10px;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: orange;
}
footer > button:hover {
    color: #094b65;
    background-color: white;
}
/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 15px;
    border: 2px solid black;
    z-index: 100;
    border-radius: 25px;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    border-radius: 25px;
    background-color: peachpuff;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }