body {
	background-image: url('../images/blue.jpg');
	background-size: cover;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*navbar*/
nav {
	background: black;
	height: 125px;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}
nav > a {
	margin-right: 8px;
	color: white;
	font-size: 16px;	;
}
h1 {
	color: white;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 45px;
	margin-left: 125px;
	position: relative;
	top: 20px
}

/*details form*/
#containerdetails {
	margin: 10px;
}
#details {
	text-align: center;
	border: 2px solid black;
	box-shadow: 0 2px 5px black;
	margin: 10px;
	color: white;
}

/*navbar links*/
nav > a:link, a:visited {
	text-decoration: none;
	position: relative;
	float: right;
}
nav > a:hover, a:active {
	color: orange;
}

/*survey list links*/
li > a:link, a:visited {
	text-decoration: none;
	color: white;
	font-size: 30px;
}
li > a:hover, a:active {
	color: orange;
}

#t1form
{
	font-family: 'Times New Roman';
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 0 2px 5px white;
	margin: 20px;
	color:white;
	font-size: 20px;
	padding-left: 5%;
}
